;
; Copyright (C) 2014 and later, Indie Computing Corp. All rights reserved. License: see package.
;

[globals]
db_type=mysql
db_host=${appconfig.mysql.dbhost.maindb}
db_database=${appconfig.mysql.dbname.maindb}
db_username=${appconfig.mysql.dbuser.maindb}
db_password=${appconfig.mysql.dbusercredential.maindb}
db_prefix=
logger_level=WARNING
logger_destination=error_log
items_perpage=50
items_lifetime=30
base_url=
username=
password=
salt=${randomPassword(8)}
public=
rss_title=My Selfoss Links
rss_max_items=300
rss_mark_as_read=0
homepage=newest
language=0
auto_mark_as_read=0
anonymizer=
use_system_font=
readability=
share=gtfprde
allow_public_update_access=
unread_order=
